In [24]:
import pandas as pd
import os

In [25]:
pwd

'C:\\Users\\mmdg6'

In [27]:
variable = pd.read_csv(r"C:\Users\mmdg6\clean_gdp.csv")
variable.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7